body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body.modal-open {
  overflow: hidden;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .container__header {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .container--footer {
    display: flex;
    align-items: baseline;
  }
}

.container--menu {
  padding: 48px 30px;
}

@media screen and (min-width: 768px) {
  .container--menu {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .container--footer-tablet {
    display: flex;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--teames {
  background-color: #F5F4FA;
}

@media screen and (max-width: 1199px) {
  .section {
    padding: 60px 0;
  }
}

.section--no-padding {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section--no-padding {
    display: none;
  }
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .section__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
}

.header__main-site-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #212121;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__title {
  color: #2196F3;
}

.logo__title--white {
  color: #FFFFFF;
}

.menu-button {
  display: inline-flex;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .menu-button {
    padding: 22px 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon:hover,
.menu-button__icon:focus {
  fill: #2196F3;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
    z-index: 2;
    overflow-x: scroll;
    overflow-y: scroll;
  }
  .menu-container.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
  }
}

.menu-button--close {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 25px;
}

.menu-button--close:hover, .menu-button--close:focus {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .menu-button--close {
    display: none;
  }
}

.navigation__icon {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .navigation {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:first-child) {
    margin-left: 50px;
  }
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    display: inline-block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    padding: 0;
  }
}

.site-nav .site-nav__link:hover,
.site-nav .site-nav__link:focus {
  color: #2196F3;
  fill: currentColor;
}

.site-nav__link--current {
  color: #2196F3;
}

.site-nav__link--current::after {
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  background-color: #2196F3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .site-nav__link--current::after {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contact__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:first-child) {
    margin-left: 50px;
  }
}

.contact__link {
  display: block;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contact__link {
    font-size: 24px;
    line-height: 1.17;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact__link {
    display: flex;
  }
}

.contact .contact__link:hover,
.contact .contact__link:focus {
  color: #2196F3;
  fill: currentColor;
}

.menu-social-network {
  display: flex;
}

@media screen and (min-width: 768px) {
  .menu-social-network {
    display: none;
  }
}

.menu-social-network__item:not(:first-child) {
  margin-left: 10px;
}

.menu-social-network__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
}

.menu-social-network__item:not(:last-child)::after {
  content: '';
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 118px 0;
  background-color: #2F303A;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile.jpg");
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
    padding: 200px 0;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero@2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  color: #FFFFFF;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
  }
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.modal__button-close, .portfolio-menu__button {
  cursor: pointer;
  border: transparent;
}

.hero__button, .form__button, .follow-button {
  cursor: pointer;
  border: transparent;
  padding: 10px 32px;
  color: #FFFFFF;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  box-shadow: 0px 4px 4px 0px 4px 4px rgba(0, 0, 0, 0.15);
}

input:invalid {
  border-color: red;
  box-shadow: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.backdrop--is-hidden .modal {
  transform: scale(0.9);
}

.modal {
  max-width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: visible;
  opacity: 1;
  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .modal {
    width: 320px;
  }
}

.modal__button-close {
  padding: 5px 10px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover, .modal__button-close:focus {
  fill: #2196F3;
}

.form {
  padding: 40px;
}

.form__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.form__text {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__text:first-child {
  margin-top: 0;
}

.form__fied {
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__fied:focus-within .form__icon {
  fill: #2196F3;
}

.form__fied:focus-within .form__input {
  border: 1px solid #2196F3;
}

.form__input {
  display: block;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.form__textarea {
  display: block;
  resize: none;
  width: 100%;
  min-height: 120px;
  padding-left: 15px;
  padding-top: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__contract {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .form__contract {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (max-width: 480px) {
  .form__contract {
    font-size: 12px;
    line-height: 1.16;
  }
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.form__checkbox:checked + .form__checkbox--icon {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url(../images/iconcheck.svg);
  background-size: contain;
  background-origin: border-box;
}

.form__checkbox--icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid black;
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .form__checkbox--icon {
    width: 23px;
  }
}

.form__link {
  color: #2196F3;
}

.form__button {
  width: 200px;
}

.form__button:hover, .form__button:focus {
  box-shadow: 0px 4px 4px 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .peculiarities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities {
    display: flex;
    justify-content: center;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .peculiarities__item {
    width: 100%;
  }
  .peculiarities__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .peculiarities__item {
    width: 354px;
    width: calc(100% - 2 * 30px)/2;
    margin: 15px;
  }
}

.peculiarities__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.peculiarities__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .peculiarities__title {
    display: flex;
    justify-content: center;
  }
}

.peculiarities__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.photo-card {
  display: flex;
}

.photo-card__item {
  position: relative;
}

.photo-card__item:not(:first-child) {
  margin-left: 30px;
}

.photo-card__title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: flex;
    margin: -15px;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .team__img {
    margin: 0 auto;
    width: 100%;
  }
}

.team__container {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__text {
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.social-network, .social-network__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-network__item:not(:first-child) {
  margin-left: 10px;
}

.social-network__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__link:hover, .social-network__link:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .clients {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.clients__item {
  height: 92px;
}

@media screen and (max-width: 767px) {
  .clients__item {
    width: calc(100% - 2 * 30px)/2;
    margin: 15px;
    width: 210px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: calc(100% - 3 * 30px)/3;
    margin: 15px;
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
  .clients__item:not(:first-child) {
    margin-left: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196F3;
  fill: #2196F3;
}

.footer {
  background: #2F303A;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (max-width: 1199px) {
  .container--footer-tablet {
    justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer__information {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__information {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__information {
    flex-grow: 1;
  }
}

.contact-footer {
  margin-top: 20px;
}

.contact-footer__item--address {
  white-space: nowrap;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-contact__item {
  margin-top: 9px;
}

.contact-footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .follow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .form__footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .form__footer {
    margin-left: 93px;
  }
}

.follow__input {
  min-height: 50px;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .follow__input {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .follow__input {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .follow__input {
    width: 358px;
  }
}

.follow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.follow-button::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  min-width: 24px;
  min-height: 24px;
  background-image: url(../images/icon-telegram.png);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
  .follow-button {
    margin: 0 auto;
  }
}

.follow-button:hover, .follow-button:focus {
  box-shadow: 0px 4px 4px 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
  .join {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

.join__title {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.social-network__link--join-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__link--join-icon:hover, .social-network__link--join-icon:focus {
  background-color: #2196F3;
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio-menu {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-menu__item {
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .portfolio-menu__item:nth-child(2n+3) {
    margin-right: 0px;
  }
  .portfolio-menu__item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-menu__item {
    margin-right: 8px;
  }
  .portfolio-menu__item:last-child {
    margin-right: 0px;
  }
}

.portfolio-menu__button {
  display: flex;
  justify-content: center;
  padding: 6px 22px;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu__button:hover, .portfolio-menu__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
  .gallery {
    margin-top: 40px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .gallery__item:nth-child(2n + 2) {
    margin-right: 0;
  }
  .gallery__item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .gallery__item:nth-child(3n + 3) {
    margin-right: 0;
  }
  .gallery__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.gallery__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .gallery__img {
    width: 100%;
  }
}

/* overflow */
.gallery__thumb {
  display: block;
  position: relative;
  overflow: hidden;
}

.gallery-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link:hover .gallery-overlay,
.gallery__link:focus .gallery-overlay {
  transform: translateY(0);
  opacity: 1;
}

.gallery-overlay__action {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 322px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link:hover .gallery-overlay__action,
.gallery__link:focus .gallery-overlay__action {
  opacity: 1;
}

.gallery-overlay__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.gallery-container {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.gallery__link:hover .gallery-container,
.gallery__link:focus .gallery-container {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-container__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 768px) {
  .gallery-container__title {
    white-space: nowrap;
  }
}

.gallery-container__categories {
  margin-top: 4px;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */