.hero {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 118px 0;
    background-color: $bg-hero;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right, $gradien-color, $gradien-color), url('../images/hero-mobile.jpg');
    @media screen and (min-width: 767px) and (max-width: 1199px) {
        background-image: linear-gradient(to right, $gradien-color, $gradien-color), url('../images/hero-tablet.jpg');
        max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(to right, $gradien-color, $gradien-color), url('../images/hero.jpg');
        max-width: 1200px;
    }
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right, $gradien-color, $gradien-color), url('../images/hero-mobile@2x.jpg');
        background-image: linear-gradient(to right, $gradien-color, $gradien-color), url('../images/hero-tablet@2x.jpg');
        background-image: linear-gradient(to right, $gradien-color, $gradien-color), url('../images/hero@2x.jpg');
    }
}

.hero__title {
    margin-bottom: 30px;
    color: $color-hero;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
        font-size: 26px;
        line-height: 1.61;
    }
}

%button {
    cursor: pointer;
    border: transparent;
}

%button-primary {
    cursor: pointer;
    border: transparent;
    padding: 10px 32px;
    color: $color-title-button;
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background: $primary-button;
    box-shadow: $button-shadow;
    border-radius: 4px;
    transition: box-shadow 250ms $transition-timing-function;
}

.hero__button {
    @extend %button-primary;
    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px $button-shadow;
    }
}