.portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
        justify-content: center;
    }
}

.portfolio-menu__item {
    @media screen and (max-width: 767px) {
        margin-right: 8px;
        margin-bottom: 8px;
        &:nth-child(2n+3) {
            margin-right: 0px;
        }
        &:nth-last-child(-n + 2) {
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width: 768px) {
        margin-right: 8px;
        &:last-child {
            margin-right: 0px;
        }
    }
}

.portfolio-menu__button {
    @extend %button;
    display: flex;
    justify-content: center;
    padding: 6px 22px;
    background-color: $color-button;
    border-radius: 4px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    transition: background-color 250ms $transition-timing-function, color 250ms $transition-timing-function, box-shadow 250ms $transition-timing-function;
    &:hover,
    &:focus {
        background-color: $accent-text;
        color: $bg-color;
        box-shadow: $button-shadow;
    }
}